#side-bar
  h1.title 🗓 Calendrier de permaculture 🌱
  nav
    = link_to "🌿 Au potager",
      advices_path(garden: 'vegetable_garden'),
      class: "nav-button #{'active' if params[:garden] == 'vegetable_garden' || params[:garden].nil?}"
    = link_to "🌳 Au verger",
      advices_path(garden: 'orchard'),
      class: "nav-button #{'active' if params[:garden] == 'orchard'}"
    = link_to "🌷 Au jardin d’ornement",
      advices_path(garden: 'ornamental_garden'),
      class: "nav-button #{'active' if params[:garden] == 'ornamental_garden'}"
