#side-bar {
  background-color: $clouds;
  position: sticky;
  top: 0;
  width: 288px;
  height: 100vh;
  flex-shrink: 0;

  .title {
    margin-top: 32px;
    font-size: 1.5em;
    font-weight: 600;
    padding: 16px;
    padding-left: 32px;
  }

  nav a.nav-button {
    text-decoration: none;
    display: block;
    padding: 16px;
    padding-left: 32px;
    color: $primary;
    font-size: 1.2em;
    
    &.active {
      background-color: darken($clouds, 10%);
      border-right: 4px solid $primary;
    }

    &:hover {
      background-color: darken($clouds, 5%);
    }
  }
}
