#top-bar {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  position: sticky;
  top:0;
  padding: 8px;
  
  color: $primary;
  background-color: #ffffff;
  border-bottom: 2px solid $clouds;

  .title {
    font-size: 24px;
    margin: 0 32px;
    text-align: center;
    flex: 1 0 auto;
  }


  .empty-nav-link, .date-nav-link {
      flex: 1 0 auto;
  }

  @media (min-width: 550px) {
    .empty-nav-link, .date-nav-link {
      position: absolute;
    }
    .date-nav-link.prev {
      left: 16px;
    }
    .date-nav-link.next {
      right: 16px;
    }
  }
}

#navbar-mobile {
  padding-top: 8px;
  background-color: $clouds;

  .title {
    margin-top: 16px;
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
  }

  nav {
    display: flex;
  }

  nav a.nav-button {
    flex: 1 0 auto;
    text-decoration: none;
    text-align: center;
    padding: 8px;
    color: $primary;
    font-size: 0.9em;
    border: 1px solid darken($clouds, 5%);
    border-left: none;

    &:last-child {
      border-right: none;
    }

    &.active {
      background-color: darken($clouds, 10%);
      border-bottom: 4px solid $primary;
    }

    &:hover {
      background-color: darken($clouds, 5%);
    }
  }
}
