#top-bar {
  display: flex;
  justify-content: center;
  align-items: baseline;
  position: sticky;
  top:0;
  padding: 8px;
  
  color: $primary;
  background-color: #ffffff;
  border-bottom: 2px solid $clouds;

  .title {
    font-size: 24px;
    margin: 0 32px;
  }
}
